<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.trade.mapper.AddressBookMapper">
    <select id="list" parameterType="AddressBook" resultType="com.trade.entity.AddressBook">
        select * from address_book
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="isDefault != null">
                and is_default = #{isDefault}
            </if>
        </where>
    </select>

    <update id="update" parameterType="AddressBook">
        update address_book
        <set>
            <if test="consignee != null"> consignee = #{consignee}, </if>
            <if test="sex != null"> sex = #{sex}, </if>
            <if test="phone != null"> phone = #{phone}, </if>
            <if test="area != null"> area = #{area}, </if>
            <if test="doorCode != null"> door_code = #{doorCode}, </if>
            <if test="dormitoriesId != null"> dormitories_id = #{dormitoriesId}, </if>
            <if test="unitNumber != null"> unit_number = #{unitNumber}, </if>
            <if test="isDefault != null"> is_default = #{isDefault}, </if>
        </set>
        where id = #{id}
    </update>
</mapper>
