<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trade.mapper.ShoppingCartMapper">
    <select id="list" resultType="com.trade.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="thingId != null">
                and thing_id = #{thingId}
            </if>
            <if test="marketerId != null">
                and marketer_id = #{marketerId}
            </if>
        </where>
    </select>
</mapper>
